# Reference: https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
# Blacklist files/folders in same directory as the .gitignore file
/*


# Whitelist some files
!.gitignore
!.gitmodules
!*.md
!*.html
!*.yml
!*.sh
!*.txt
!*.py
!*.example
!LICENSE

!chapter*/

**/*.yml
**/*bk
**/*.pyc
**/*__pycache__
**/*.swp
**/*.local.*
**/temp.*
**/README.html
**/*.ipynb_checkpoints
